<a href="https://colab.research.google.com/github/yk-Jeong/Codestates_Project/blob/main/6th_samsung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://dacon.io/codeshare/2570

In [2]:
%matplotlib inline

In [3]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.68-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Collecting requests>=2.26
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 763 kB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 8.9 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.7.1 requests-2.26.0 yfinance-0.1.68

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [5]:
samsung_df = yf.download('005930.KS', start = '2020-01-01', end = '2021-04-21', progress = False)

In [6]:
samsung_df.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  52058.132812  12993228
2020-01-03  56000.0  56600.0  54900.0  55500.0  52341.062500  15422255
2020-01-06  54900.0  55600.0  54600.0  55500.0  52341.062500  10278951
2020-01-07  55700.0  56400.0  55600.0  55800.0  52623.980469  10009778
2020-01-08  56200.0  57400.0  55900.0  56800.0  53567.062500  23501171

In [7]:
samsung_df = samsung_df[["Close"]]

In [8]:
samsung_df.head()

              Close
Date
2020-01-02  55200.0
2020-01-03  55500.0
2020-01-06  55500.0
2020-01-07  55800.0
2020-01-08  56800.0

In [9]:
samsung_df = samsung_df.reset_index()

In [10]:
samsung_df

          Date    Close
0   2020-01-02  55200.0
1   2020-01-03  55500.0
2   2020-01-06  55500.0
3   2020-01-07  55800.0
4   2020-01-08  56800.0
..         ...      ...
318 2021-04-15  84100.0
319 2021-04-16  83900.0
320 2021-04-19  83300.0
321 2021-04-20  83900.0
322 2021-04-21  82600.0

[323 rows x 2 columns]

In [11]:
samsung_df.columns = ['day', 'price']

In [12]:
samsung_df

           day    price
0   2020-01-02  55200.0
1   2020-01-03  55500.0
2   2020-01-06  55500.0
3   2020-01-07  55800.0
4   2020-01-08  56800.0
..         ...      ...
318 2021-04-15  84100.0
319 2021-04-16  83900.0
320 2021-04-19  83300.0
321 2021-04-20  83900.0
322 2021-04-21  82600.0

[323 rows x 2 columns]